{% extends "base_generic.html" %}

{% block content %}
<div class="row mt-5">
    <div class="col-md-3">
        <div class="list-group">
            <h5 class="list-group-item active text-center mb-0">Управление</h5>
            <a href="{% url 'student_list' %}" class="list-group-item list-group-item-action">Студенты</a>
            <a href="{% url 'subject_list' %}" class="list-group-item list-group-item-action">Предметы</a>
            <a href="{% url 'score_list' %}" class="list-group-item list-group-item-action">Оценки</a>
            <a href="{% url 'report' %}" class="list-group-item list-group-item-action">Показать отчёт</a>
        </div>
    </div>

    <div class="col-md-9">
        <div class="table-container">
            <h2 class="text-center">Успеваемость студентов</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>ФИО</th>
                        {% for subject in subjects %}
                        <th>{{ subject.name }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for statistics in student_statistics %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ statistics.student.name }}</td>
                        {% for score in statistics.scores %}
                        <td>{{ score }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<style>
    .mt-5,
    .my-5 {
        margin-top: 0rem !important;
    }
</style>
{% endblock %}