{% extends "base_generic.html" %}

{% block content %}
<div class="form-container">
    <h2>{% if object %}Изменить{% else %}Добавить{% endif %} Оценку</h2>
    <form method="post" class="form">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_student">Студент:</label>
            <select id="id_student" name="student" class="form-control">
                {% for student in form.fields.student.queryset %}
                <option value="{{ student.id }}">{{student.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="id_subject">Предмет:</label>
            <select id="id_subject" name="subject" class="form-control">
                {% for subject in form.fields.subject.queryset %}
                <option value="{{ subject.id }}">{{subject.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="id_value">Оценка:</label>
            <input type="number" class="form-control" id="id_value" name="value" min="1" max="5"
                value="{{ form.value.value|default_if_none:'' }}" required>
        </div>
        <button type="submit" class="btn btn-custom">Сохранить</button>
        <button type="button" onclick="history.back()" class="btn btn-secondary">Отмена</button>
    </form>
</div>
{% endblock %}