{% extends "base_generic.html" %}

{% block content %}
<div class="container-no-padding">
    <div class="table-container">
        <h2>Удаление оценки</h2>
        <p>Вы уверены, что хотите удалить эту запись?</p>

        <div class="alert alert-warning" role="alert">
            <strong>Предупреждение:</strong> Это действие не может быть отменено.
        </div>

        <div class="details">
            <p><strong>Студент:</strong> {{ object.student.name }}</p>
            <p><strong>Предмет:</strong> {{ object.subject.name }}</p>
            <p><strong>Оценка:</strong> {{ object.value }}</p>
        </div>

        <form action="" method="post">
            {% csrf_token %}
            <a href="{% url 'score_list' %}" class="btn btn-secondary">Отмена</a>
            <button type="submit" class="btn btn-danger">Удалить</button>
        </form>
    </div>
</div>
{% endblock %}